<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../parts/head') %>
    <script src="/javascripts/pttMain.js" defer></script>
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <button  ><a href="/ptts/<%=ptt.name%>/newtask">新增测试任务</a></button>
      
      <ul>
          <% tasks.forEach(function(item){ %>
          <li>
            <a href="/ptts/<%=ptt.name%>/<%= item.__index+1 %>" > <%= item.name%>  </a>
          </li>
          <%})%>
      </ul>

    </main>

  </body>
</html>
