<!DOCTYPE html>
<html>
  <head>
    <title><%= ptt.name %></title>
    <%- include('../parts/head') %>
    <script src="/javascripts/pttMain.js" defer></script>
  </head>
  <body>
    <main>
      <h1><%= ptt.name %></h1>
      <button><a href="<%= ptt.url %>?setting=true">新增测试任务</a></button>
      
      <ul>
          <% ptt.tasks.forEach(function(item){ %>
          <li>
            <a href="/ptts/<%=ptt.pttId%>/<%= item.__index+1 %>" > <%= item.name%>  </a>
          </li>
          <%})%>
      </ul>

    </main>

  </body>
</html>
