<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- todo 需要可配置的源列表 -->
    <meta http-equiv="Access-Control-Allow-Origin" content="http://localhost">
    <%- include('../parts/head') %>
    <script src="/javascripts/taskSetting.js" defer></script>
    <title><%= name%></title>
    <style>
        html,
        body {
            height: 100%;
        }

        iframe {
            width: calc(100% - 300px);
            height: calc(100% - 65px);
            border: none;
            margin: 0;
            /* filter: blur(2px); */
            transition: filter 500ms;
        }

        #sidebar,
        #sidebar form,
        #sidebar form ol{
            height: 100%;
        }

        #sidebar {
            position: fixed;
            right: 0px;
            top: 0px;
            /* width: 300px; */
            background-color: azure;
            max-height: calc(100% - 40px);
            
        }

        #steps {
            padding: 0em 1em;
            margin: 0;
            overflow: auto;
            box-sizing: border-box;
        }

        #steps li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #steps .pageTitle{
            color: #c9c9c9;
            font-size: 0.8em;
        }
        #steps li .remove{
            cursor: pointer;
        }
        #steps li .remove:hover{
            background-color: #c4c4c4;
        }
        #steps li .remove[disabled=disabled]{
            color: #e4e4e4;
            cursor:not-allowed;
        }
    </style>
</head>

<body>
    <header>
        <h1>任务设置</h1>
    </header>

    <div id="sidebar">
        <form id="setting" >
            <ol id = "steps">
                <!-- i是完整步骤序号，s是用户行为序号 -->
                <!-- 将载入和关闭事件作为分割点 -->
                <% var i = 0%>
                <% steps.forEach(function(step){%> 
                    <% if ("load".includes(step.eventType) ) { %>
                        <li class="pageTitle" data-num="<%= i++ %>">
                            <%= step.eventType %> : <%= step.pageTitle %> 
                        </li>
                    <% } else { %>
                        <li data-num="<%= i++ %>">
                            <%= step.eventType %> <%= step.target.innerText %>
                            <button class="icon remove"> ×</button>
                        </li>
                    <% } %>
                <% }) %>
            </ol>
            <button type="submit">保存</button>
            <button id="undo" disabled>恢复</button>
            <button id="cancel">取消</button>
            <button id="delete">删除任务</button>
        </form>

    </div>
    <!-- url末尾增加＃号,以便统一分割 -->
    <iframe id='stepRecorder' src='<%= steps[0].url%>#' aria-disabled="true"></iframe>
</body>

</html>